#itemlist1{
  border: green 1px solid;
  width: 30rem;
  text-align: center;
  background-color: greenyellow;
}
#itemlist2{
  border: green 1px solid;
  width: 30rem;
  text-align: center;
  background-color: lightgrey;
}
#flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: larger;
}
.cf{
  text-align: center;
  margin: 10px;
  font-size: larger;
}
